<h1>Bem vindo ao cadasto</h1>

<form action="/register/add" method="post">

    <div class="form-control">
        <label for="name">Informe o seu nome</label>
        <input type="text" name="name" placeholder="Digite o seu nome">
    </div>

    <div class="form-control">
        <label for="cep">Informe o seu cep</label>
        <input type="text" name="cep" placeholder="Digite o seu cep">
    </div>

    <div class="form-control">
        <label for="state">Informe o seu estado</label>
        <input type="text" name="state" placeholder="Digite o seu estado">
    </div>

    <div class="form-control">
        <label for="city">Informe a sua cidade</label>
        <input type="text" name="city" placeholder="Digite a sua cidade">
    </div>

    <div class="form-control">
        <label for="address">Informe o seu endereço</label>
        <input type="text" name="address" placeholder="Digite o seu endereço">
    </div>

    <input type="submit" value="Cadastrar" class="btn">
</form>