<h1>Bem vindo ao cadasto</h1>

<form action="/register/add" method="post">

    <label for="name">Informe o seu nome</label>
    <input type="text" name="name" placeholder="Digite o seu nome">

    <label for="cep">Informe o seu cep</label>
    <input type="text" name="cep" placeholder="Digite o seu cep">

    <label for="state">Informe o seu estado</label>
    <input type="text" name="state" placeholder="Digite o seu estado">
    
    <label for="city">Informe a sua cidade</label>
    <input type="text" name="city" placeholder="Digite a sua cidade">

    <label for="address">Informe o seu endereço</label>
    <input type="text" name="address" placeholder="Digite o seu endereço">

    <input type="submit" value="Cadastrar">

</form>